/* footer */

footer {

 background-color: $color-rosa;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid black;
    text-align-last: center;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;

}

h3 {
    color: beige;
}
   
    